Birthday Wisher/main.py
Birthday Wisher/quotes.txt
project/replace/.DS_Store
project/replace/json_file_reader-replacer.py
project/replace/replace.docx
project/replace/json_NEW/_metadata.json
project/replace/json_NEW/0.json
project/replace/json_NEW/1.json
project/replace/json_NEW/2.json
project/replace/json_NEW/3.json
project/replace/json_NEW/4.json
project/replace/json_NEW/5.json
project/replace/json_NEW/6.json
project/replace/json_NEW/7.json
project/replace/json_NEW/8.json
project/replace/json_NEW/9.json
project/replace/json_NEW/10.json
project/replace/json_NEW/11.json
project/replace/json_NEW/12.json
project/replace/json_NEW/13.json
project/replace/json_NEW/14.json
project/replace/json_NEW/15.json
project/replace/json_NEW/16.json
project/replace/json_NEW/17.json
project/replace/json_NEW/18.json
project/replace/json_NEW/19.json
project/replace/json_NEW/20.json
project/replace/json_NEW/21.json
project/replace/json_NEW/22.json
project/replace/json_NEW/23.json
project/replace/json_NEW/24.json
project/replace/json_NEW/25.json
project/replace/json_NEW/26.json
project/replace/json_NEW/27.json
project/replace/json_NEW/28.json
project/replace/json_NEW/29.json
project/replace/json_NEW/30.json
project/replace/json_NEW/31.json
project/replace/json_NEW/32.json
project/replace/json_NEW/33.json
project/replace/json_NEW/34.json
project/replace/json_NEW/35.json
project/replace/json_NEW/36.json
project/replace/json_NEW/37.json
project/replace/json_NEW/38.json
project/replace/json_NEW/39.json
project/replace/json_NEW/40.json
project/replace/json_NEW/41.json
project/replace/json_NEW/42.json
project/replace/json_NEW/43.json
project/replace/json_NEW/44.json
project/replace/json_NEW/45.json
project/replace/json_NEW/46.json
project/replace/json_NEW/47.json
project/replace/json_NEW/48.json
project/replace/json_NEW/49.json
project/replace/json_NEW/50.json
project/replace/json_NEW/51.json
project/replace/json_NEW/52.json
project/replace/json_NEW/53.json
project/replace/json_NEW/54.json
project/replace/json_NEW/55.json
project/replace/json_NEW/56.json
project/replace/json_NEW/57.json
project/replace/json_NEW/58.json
project/replace/json_NEW/59.json
project/replace/json_NEW/60.json
project/replace/json_NEW/61.json
project/replace/json_NEW/62.json
project/replace/json_NEW/63.json
project/replace/json_NEW/64.json
project/replace/json_NEW/65.json
project/replace/json_NEW/66.json
project/replace/json_NEW/67.json
project/replace/json_NEW/68.json
project/replace/json_NEW/69.json
project/replace/json_NEW/70.json
project/replace/json_NEW/71.json
project/replace/json_NEW/72.json
project/replace/json_NEW/73.json
project/replace/json_NEW/74.json
project/replace/json_NEW/75.json
project/replace/json_NEW/76.json
project/replace/json_NEW/77.json
project/replace/json_NEW/78.json
project/replace/json_NEW/79.json
project/replace/json_NEW/80.json
project/replace/json_NEW/81.json
project/replace/json_NEW/82.json
project/replace/json_NEW/83.json
project/replace/json_NEW/84.json
project/replace/json_NEW/85.json
project/replace/json_NEW/86.json
project/replace/json_NEW/87.json
project/replace/json_NEW/88.json
project/replace/json_NEW/89.json
project/replace/json_NEW/90.json
project/replace/json_NEW/91.json
project/replace/json_NEW/92.json
project/replace/json_NEW/93.json
project/replace/json_NEW/94.json
project/replace/json_NEW/95.json
project/replace/json_NEW/96.json
project/replace/json_NEW/97.json
project/replace/json_NEW/98.json
project/replace/json_NEW/99.json
project/replace/json_NEW/100.json
project/replace/json_NEW/101.json
project/replace/json_NEW/102.json
project/replace/json_NEW/103.json
project/replace/json_NEW/104.json
project/replace/json_NEW/105.json
project/replace/json_NEW/106.json
project/replace/json_NEW/107.json
project/replace/json_NEW/108.json
project/replace/json_NEW/109.json
project/replace/json_NEW/110.json
project/replace/json_NEW/111.json
project/replace/json_NEW/112.json
project/replace/json_NEW/113.json
project/replace/json_NEW/114.json
project/replace/json_NEW/115.json
project/replace/json_NEW/116.json
project/replace/json_NEW/117.json
project/replace/json_NEW/118.json
project/replace/json_NEW/119.json
project/replace/json_NEW/120.json
project/replace/json_NEW/121.json
project/replace/json_NEW/122.json
project/replace/json_NEW/123.json
project/replace/json_NEW/124.json
project/replace/json_NEW/125.json
project/replace/json_NEW/126.json
project/replace/json_NEW/127.json
project/replace/json_NEW/128.json
project/replace/json_NEW/129.json
project/replace/json_NEW/130.json
project/replace/json_NEW/131.json
project/replace/json_NEW/132.json
project/replace/json_NEW/133.json
project/replace/json_NEW/134.json
project/replace/json_NEW/135.json
project/replace/json_NEW/136.json
project/replace/json_NEW/137.json
project/replace/json_NEW/138.json
project/replace/json_NEW/139.json
project/replace/json_NEW/140.json
project/replace/json_NEW/141.json
project/replace/json_NEW/142.json
project/replace/json_NEW/143.json
project/replace/json_NEW/144.json
project/replace/json_NEW/145.json
project/replace/json_NEW/146.json
project/replace/json_NEW/147.json
project/replace/json_NEW/148.json
project/replace/json_NEW/149.json
project/replace/json_NEW/150.json
project/replace/json_NEW/151.json
project/replace/json_NEW/152.json
project/replace/json_NEW/153.json
project/replace/json_NEW/154.json
project/replace/json_NEW/155.json
project/replace/json_NEW/156.json
project/replace/json_NEW/157.json
project/replace/json_NEW/158.json
project/replace/json_NEW/159.json
project/replace/json_NEW/160.json
project/replace/json_NEW/161.json
project/replace/json_NEW/162.json
project/replace/json_NEW/163.json
project/replace/json_NEW/164.json
project/replace/json_NEW/165.json
project/replace/json_NEW/166.json
project/replace/json_NEW/167.json
project/replace/json_NEW/168.json
project/replace/json_NEW/169.json
project/replace/json_NEW/170.json
project/replace/json_NEW/171.json
project/replace/json_NEW/172.json
project/replace/json_NEW/173.json
project/replace/json_NEW/174.json
project/replace/json_NEW/175.json
project/replace/json_NEW/176.json
project/replace/json_NEW/177.json
project/replace/json_NEW/178.json
project/replace/json_NEW/179.json
project/replace/json_NEW/180.json
project/replace/json_NEW/181.json
project/replace/json_NEW/182.json
project/replace/json_NEW/183.json
project/replace/json_NEW/184.json
project/replace/json_NEW/185.json
project/replace/json_NEW/186.json
project/replace/json_NEW/187.json
project/replace/json_NEW/188.json
project/replace/json_NEW/189.json
project/replace/json_NEW/190.json
project/replace/json_NEW/191.json
project/replace/json_NEW/192.json
project/replace/json_NEW/193.json
project/replace/json_NEW/194.json
project/replace/json_NEW/195.json
project/replace/json_NEW/196.json
project/replace/json_NEW/197.json
project/replace/json_NEW/198.json
project/replace/json_NEW/199.json
project/replace/json_NEW/200.json
project/replace/json_NEW/201.json
project/replace/json_NEW/202.json
project/replace/json_NEW/203.json
project/replace/json_NEW/204.json
project/replace/json_NEW/205.json
project/replace/json_NEW/206.json
project/replace/json_NEW/207.json
project/replace/json_NEW/208.json
project/replace/json_NEW/209.json
project/replace/json_NEW/210.json
project/replace/json_NEW/211.json
project/replace/json_NEW/212.json
project/replace/json_NEW/213.json
project/replace/json_NEW/214.json
project/replace/json_NEW/215.json
project/replace/json_NEW/216.json
project/replace/json_NEW/217.json
project/replace/json_NEW/218.json
project/replace/json_NEW/219.json
project/replace/json_NEW/220.json
project/replace/json_NEW/221.json
project/replace/json_NEW/222.json
project/replace/json_NEW/223.json
project/replace/json_NEW/224.json
project/replace/json_NEW/225.json
project/replace/json_NEW/226.json
project/replace/json_NEW/227.json
project/replace/json_NEW/228.json
project/replace/json_NEW/229.json
project/replace/json_NEW/230.json
project/replace/json_NEW/231.json
project/replace/json_NEW/232.json
project/replace/json_NEW/233.json
project/replace/json_NEW/234.json
project/replace/json_NEW/235.json
project/replace/json_NEW/236.json
project/replace/json_NEW/237.json
project/replace/json_NEW/238.json
project/replace/json_NEW/239.json
project/replace/json_NEW/240.json
project/replace/json_NEW/241.json
project/replace/json_NEW/242.json
project/replace/json_NEW/243.json
project/replace/json_NEW/244.json
project/replace/json_NEW/245.json
project/replace/json_NEW/246.json
project/replace/json_NEW/247.json
project/replace/json_NEW/248.json
project/replace/json_NEW/249.json
project/replace/json_NEW/250.json
project/replace/json_NEW/251.json
project/replace/json_NEW/252.json
project/replace/json_NEW/253.json
project/replace/json_NEW/254.json
project/replace/json_NEW/255.json
project/replace/json_NEW/256.json
project/replace/json_NEW/257.json
project/replace/json_NEW/258.json
project/replace/json_NEW/259.json
project/replace/json_NEW/260.json
project/replace/json_NEW/261.json
project/replace/json_NEW/262.json
project/replace/json_NEW/263.json
project/replace/json_NEW/264.json
project/replace/json_NEW/265.json
project/replace/json_NEW/266.json
project/replace/json_NEW/267.json
project/replace/json_NEW/268.json
project/replace/json_NEW/269.json
project/replace/json_NEW/270.json
project/replace/json_NEW/271.json
project/replace/json_NEW/272.json
project/replace/json_NEW/273.json
project/replace/json_NEW/274.json
project/replace/json_NEW/275.json
project/replace/json_NEW/276.json
project/replace/json_NEW/277.json
project/replace/json_NEW/278.json
project/replace/json_NEW/279.json
project/replace/json_NEW/280.json
project/replace/json_NEW/281.json
project/replace/json_NEW/282.json
project/replace/json_NEW/283.json
project/replace/json_NEW/284.json
project/replace/json_NEW/285.json
project/replace/json_NEW/286.json
project/replace/json_NEW/287.json
project/replace/json_NEW/288.json
project/replace/json_NEW/289.json
project/replace/json_NEW/290.json
project/replace/json_NEW/291.json
project/replace/json_NEW/292.json
project/replace/json_NEW/293.json
project/replace/json_NEW/294.json
project/replace/json_NEW/295.json
project/replace/json_NEW/296.json
project/replace/json_NEW/297.json
project/replace/json_NEW/298.json
project/replace/json_NEW/299.json
project/replace/json_NEW/300.json
project/replace/json_NEW/301.json
project/replace/json_NEW/302.json
project/replace/json_NEW/303.json
project/replace/json_NEW/304.json
project/replace/json_NEW/305.json
project/replace/json_NEW/306.json
project/replace/json_NEW/307.json
project/replace/json_NEW/308.json
project/replace/json_NEW/309.json
project/replace/json_NEW/310.json
project/replace/json_NEW/311.json
project/replace/json_NEW/312.json
project/replace/json_NEW/313.json
project/replace/json_NEW/314.json
project/replace/json_NEW/315.json
project/replace/json_NEW/316.json
project/replace/json_NEW/317.json
project/replace/json_NEW/318.json
project/replace/json_NEW/319.json
project/replace/json_NEW/320.json
project/replace/json_NEW/321.json
project/replace/json_NEW/322.json
project/replace/json_NEW/323.json
project/replace/json_NEW/324.json
project/replace/json_NEW/325.json
project/replace/json_NEW/326.json
project/replace/json_NEW/327.json
project/replace/json_NEW/328.json
project/replace/json_NEW/329.json
project/replace/json_NEW/330.json
project/replace/json_NEW/331.json
project/replace/json_NEW/332.json
project/replace/json_NEW/333.json
project/replace/json_NEW/334.json
project/replace/json_NEW/335.json
project/replace/json_NEW/336.json
project/replace/json_NEW/337.json
project/replace/json_NEW/338.json
project/replace/json_NEW/339.json
project/replace/json_NEW/340.json
project/replace/json_NEW/341.json
project/replace/json_NEW/342.json
project/replace/json_NEW/343.json
project/replace/json_NEW/344.json
project/replace/json_NEW/345.json
project/replace/json_NEW/346.json
project/replace/json_NEW/347.json
project/replace/json_NEW/348.json
project/replace/json_NEW/349.json
project/replace/json_NEW/350.json
project/replace/json_NEW/351.json
project/replace/json_NEW/352.json
project/replace/json_NEW/353.json
project/replace/json_NEW/354.json
project/replace/json_NEW/355.json
project/replace/json_NEW/356.json
project/replace/json_NEW/357.json
project/replace/json_NEW/358.json
project/replace/json_NEW/359.json
project/replace/json_NEW/360.json
project/replace/json_NEW/361.json
project/replace/json_NEW/362.json
project/replace/json_NEW/363.json
project/replace/json_NEW/364.json
project/replace/json_NEW/365.json
project/replace/json_NEW/366.json
project/replace/json_NEW/367.json
project/replace/json_NEW/368.json
project/replace/json_NEW/369.json
project/replace/json_NEW/370.json
project/replace/json_NEW/371.json
project/replace/json_NEW/372.json
project/replace/json_NEW/373.json
project/replace/json_NEW/374.json
project/replace/json_NEW/375.json
project/replace/json_NEW/376.json
project/replace/json_NEW/377.json
project/replace/json_NEW/378.json
project/replace/json_NEW/379.json
project/replace/json_NEW/380.json
project/replace/json_NEW/381.json
project/replace/json_NEW/382.json
project/replace/json_NEW/383.json
project/replace/json_NEW/384.json
project/replace/json_NEW/385.json
project/replace/json_NEW/386.json
project/replace/json_NEW/387.json
project/replace/json_NEW/388.json
project/replace/json_NEW/389.json
project/replace/json_NEW/390.json
project/replace/json_NEW/391.json
project/replace/json_NEW/392.json
project/replace/json_NEW/393.json
project/replace/json_NEW/394.json
project/replace/json_NEW/395.json
project/replace/json_NEW/396.json
project/replace/json_NEW/397.json
project/replace/json_NEW/398.json
project/replace/json_NEW/399.json
project/replace/json_NEW/400.json
project/replace/json_NEW/401.json
project/replace/json_NEW/402.json
project/replace/json_NEW/403.json
project/replace/json_NEW/404.json
project/replace/json_NEW/405.json
project/replace/json_NEW/406.json
project/replace/json_NEW/407.json
project/replace/json_NEW/408.json
project/replace/json_NEW/409.json
project/replace/json_NEW/410.json
project/replace/json_NEW/411.json
project/replace/json_NEW/412.json
project/replace/json_NEW/413.json
project/replace/json_NEW/414.json
project/replace/json_NEW/415.json
project/replace/json_NEW/416.json
project/replace/json_NEW/417.json
project/replace/json_NEW/418.json
project/replace/json_NEW/419.json
project/replace/json_NEW/420.json
project/replace/json_NEW/421.json
project/replace/json_NEW/422.json
project/replace/json_NEW/423.json
project/replace/json_NEW/424.json
project/replace/json_NEW/425.json
project/replace/json_NEW/426.json
project/replace/json_NEW/427.json
project/replace/json_NEW/428.json
project/replace/json_NEW/429.json
project/replace/json_NEW/430.json
project/replace/json_NEW/431.json
project/replace/json_NEW/432.json
project/replace/json_NEW/433.json
project/replace/json_NEW/434.json
project/replace/json_NEW/435.json
project/replace/json_NEW/436.json
project/replace/json_NEW/437.json
project/replace/json_NEW/438.json
project/replace/json_NEW/439.json
project/replace/json_NEW/440.json
project/replace/json_NEW/441.json
project/replace/json_NEW/442.json
project/replace/json_NEW/443.json
project/replace/json_NEW/444.json
project/replace/json_NEW/445.json
project/replace/json_NEW/446.json
project/replace/json_NEW/447.json
project/replace/json_NEW/448.json
project/replace/json_NEW/449.json
project/replace/json_NEW/450.json
project/replace/json_NEW/451.json
project/replace/json_NEW/452.json
project/replace/json_NEW/453.json
project/replace/json_NEW/454.json
project/replace/json_NEW/455.json
project/replace/json_NEW/456.json
project/replace/json_NEW/457.json
project/replace/json_NEW/458.json
project/replace/json_NEW/459.json
project/replace/json_NEW/460.json
project/replace/json_NEW/461.json
project/replace/json_NEW/462.json
project/replace/json_NEW/463.json
project/replace/json_NEW/464.json
project/replace/json_NEW/465.json
project/replace/json_NEW/466.json
project/replace/json_NEW/467.json
project/replace/json_NEW/468.json
project/replace/json_NEW/469.json
project/replace/json_NEW/470.json
project/replace/json_NEW/471.json
project/replace/json_NEW/472.json
project/replace/json_NEW/473.json
project/replace/json_NEW/474.json
project/replace/json_NEW/475.json
project/replace/json_NEW/476.json
project/replace/json_NEW/477.json
project/replace/json_NEW/478.json
project/replace/json_NEW/479.json
project/replace/json_NEW/480.json
project/replace/json_NEW/481.json
project/replace/json_NEW/482.json
project/replace/json_NEW/483.json
project/replace/json_NEW/484.json
project/replace/json_NEW/485.json
project/replace/json_NEW/486.json
project/replace/json_NEW/487.json
project/replace/json_NEW/488.json
project/replace/json_NEW/489.json
project/replace/json_NEW/490.json
project/replace/json_NEW/491.json
project/replace/json_NEW/492.json
project/replace/json_NEW/493.json
project/replace/json_NEW/494.json
project/replace/json_NEW/495.json
project/replace/json_NEW/496.json
project/replace/json_NEW/497.json
project/replace/json_NEW/498.json
project/replace/json_NEW/499.json
project/replace/json_NEW/500.json
project/replace/json_NEW/501.json
project/replace/json_NEW/502.json
project/replace/json_NEW/503.json
project/replace/json_NEW/504.json
project/replace/json_NEW/505.json
project/replace/json_NEW/506.json
project/replace/json_NEW/507.json
project/replace/json_NEW/508.json
project/replace/json_NEW/509.json
project/replace/json_NEW/510.json
project/replace/json_NEW/511.json
project/replace/json_NEW/512.json
project/replace/json_NEW/513.json
project/replace/json_NEW/514.json
project/replace/json_NEW/515.json
project/replace/json_NEW/516.json
project/replace/json_NEW/517.json
project/replace/json_NEW/518.json
project/replace/json_NEW/519.json
project/replace/json_NEW/520.json
project/replace/json_NEW/521.json
project/replace/json_NEW/522.json
project/replace/json_NEW/523.json
project/replace/json_NEW/524.json
project/replace/json_NEW/525.json
project/replace/json_NEW/526.json
project/replace/json_NEW/527.json
project/replace/json_NEW/528.json
project/replace/json_NEW/529.json
project/replace/json_NEW/530.json
project/replace/json_NEW/531.json
project/replace/json_NEW/532.json
project/replace/json_NEW/533.json
project/replace/json_NEW/534.json
project/replace/json_NEW/535.json
project/replace/json_NEW/536.json
project/replace/json_NEW/537.json
project/replace/json_NEW/538.json
project/replace/json_NEW/539.json
project/replace/json_NEW/540.json
project/replace/json_NEW/541.json
project/replace/json_NEW/542.json
project/replace/json_NEW/543.json
project/replace/json_NEW/544.json
project/replace/json_NEW/545.json
project/replace/json_NEW/546.json
project/replace/json_NEW/547.json
project/replace/json_NEW/548.json
project/replace/json_NEW/549.json
project/replace/json_NEW/550.json
project/replace/json_NEW/551.json
project/replace/json_NEW/552.json
project/replace/json_NEW/553.json
project/replace/json_NEW/554.json
project/replace/json_NEW/555.json
project/replace/json_NEW/556.json
project/replace/json_NEW/557.json
project/replace/json_NEW/558.json
project/replace/json_NEW/559.json
project/replace/json_NEW/560.json
project/replace/json_NEW/561.json
project/replace/json_NEW/562.json
project/replace/json_NEW/563.json
project/replace/json_NEW/564.json
project/replace/json_NEW/565.json
project/replace/json_NEW/566.json
project/replace/json_NEW/567.json
project/replace/json_NEW/568.json
project/replace/json_NEW/569.json
project/replace/json_NEW/570.json
project/replace/json_NEW/571.json
project/replace/json_NEW/572.json
project/replace/json_NEW/573.json
project/replace/json_NEW/574.json
project/replace/json_NEW/575.json
project/replace/json_NEW/576.json
project/replace/json_NEW/577.json
project/replace/json_NEW/578.json
project/replace/json_NEW/579.json
project/replace/json_NEW/580.json
project/replace/json_NEW/581.json
project/replace/json_NEW/582.json
project/replace/json_NEW/583.json
project/replace/json_NEW/584.json
project/replace/json_NEW/585.json
project/replace/json_NEW/586.json
project/replace/json_NEW/587.json
project/replace/json_NEW/588.json
project/replace/json_NEW/589.json
project/replace/json_NEW/590.json
project/replace/json_NEW/591.json
project/replace/json_NEW/592.json
project/replace/json_NEW/593.json
project/replace/json_NEW/594.json
project/replace/json_NEW/595.json
project/replace/json_NEW/596.json
project/replace/json_NEW/597.json
project/replace/json_NEW/598.json
project/replace/json_NEW/599.json
project/replace/json_NEW/600.json
project/replace/json_NEW/601.json
project/replace/json_NEW/602.json
project/replace/json_NEW/603.json
project/replace/json_NEW/604.json
project/replace/json_NEW/605.json
project/replace/json_NEW/606.json
project/replace/json_NEW/607.json
project/replace/json_NEW/608.json
project/replace/json_NEW/609.json
project/replace/json_NEW/610.json
project/replace/json_NEW/611.json
project/replace/json_NEW/612.json
project/replace/json_NEW/613.json
project/replace/json_NEW/614.json
project/replace/json_NEW/615.json
project/replace/json_NEW/616.json
project/replace/json_NEW/617.json
project/replace/json_NEW/618.json
project/replace/json_NEW/619.json
project/replace/json_NEW/620.json
project/replace/json_NEW/621.json
project/replace/json_NEW/622.json
project/replace/json_NEW/623.json
project/replace/json_NEW/624.json
project/replace/json_NEW/625.json
project/replace/json_NEW/626.json
project/replace/json_NEW/627.json
project/replace/json_NEW/628.json
project/replace/json_NEW/629.json
project/replace/json_NEW/630.json
project/replace/json_NEW/631.json
project/replace/json_NEW/632.json
project/replace/json_NEW/633.json
project/replace/json_NEW/634.json
project/replace/json_NEW/635.json
project/replace/json_NEW/636.json
project/replace/json_NEW/637.json
project/replace/json_NEW/638.json
project/replace/json_NEW/639.json
project/replace/json_NEW/640.json
project/replace/json_NEW/641.json
project/replace/json_NEW/642.json
project/replace/json_NEW/643.json
project/replace/json_NEW/644.json
project/replace/json_NEW/645.json
project/replace/json_NEW/646.json
project/replace/json_NEW/647.json
project/replace/json_NEW/648.json
project/replace/json_NEW/649.json
project/replace/json_NEW/650.json
project/replace/json_NEW/651.json
project/replace/json_NEW/652.json
project/replace/json_NEW/653.json
project/replace/json_NEW/654.json
project/replace/json_NEW/655.json
project/replace/json_NEW/656.json
project/replace/json_NEW/657.json
project/replace/json_NEW/658.json
project/replace/json_NEW/659.json
project/replace/json_NEW/660.json
project/replace/json_NEW/661.json
project/replace/json_NEW/662.json
project/replace/json_NEW/663.json
project/replace/json_NEW/664.json
project/replace/json_NEW/665.json
